https://github.com/scottt/rocm-TheRock/releases/download/v6.5.0rc-pytorch/torch-2.7.0a0+rocm_git3f903c3-cp311-cp311-win_amd64.whl
https://github.com/scottt/rocm-TheRock/releases/download/v6.5.0rc-pytorch/torchaudio-2.7.0a0+52638ef-cp311-cp311-win_amd64.whl
https://github.com/scottt/rocm-TheRock/releases/download/v6.5.0rc-pytorch/torchvision-0.22.0+9eb57cd-cp311-cp311-win_amd64.whl
